<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid px-5 py-2">
    <a class="navbar-brand" href="#">Booking App</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Bookings</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Rooms</a>
        </li>
      </ul>
      <ul class="navbar-nav ms-auto">
        <% if user_signed_in? %>
          <li class="nav-item me-3 align-content-center">
            <span class="navbar-text">Signed in as <strong><%= current_user.name %></strong></span>
          </li>
          <li class="nav-item">
            <%= button_to "Sign Out", destroy_user_session_path, method: :delete, form_class: "d-inline", class: "btn btn-outline-danger" %>
          </li>
        <% else %>
          <li class="nav-item me-2">
            <%= link_to "Login", new_user_session_path, class: "btn btn-outline-primary" %>
          </li>
          <li class="nav-item">
            <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
